In [1]:
# 60

In [1]:
name, age, phone = '홍길동', 25, '010-111-2222'

### 방법 1

In [3]:
소개 = "이름은 {}이고, 나이는 {}세이며, 전화번호는 {} 입니다.".format(name, age, phone)
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222 입니다.'

### 방법 2

In [4]:
소개 = "이름은 {0}이고, 나이는 {2}세이며, 전화번호는 {1} 입니다.".format(name, phone, age)
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222 입니다.'

### 방법 3

In [5]:
소개 = "이름은 {a}이고, 나이는 {b}세이며, 전화번호는 {c} 입니다.".format(c = phone, a = name, b = age)
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222 입니다.'

### 방법 4 (추천!, 파이썬 3.6 이상의 버전에서만 가능)

In [6]:
소개 = f"이름은 {name}이고, 나이는 {age}세이며, 전화번호는 {phone} 입니다."
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222 입니다.'

### 숫자의 자릿수를 지정하고 0으로 채워넣기

In [7]:
jan, dec = 1, 12

In [11]:
print("한 해의 시작은 {:02d}월".format(jan))  # d는 정수를 뜻함
print("한 해의 마지막은 {:02d}월".format(dec))

한 해의 시작은 01월
한 해의 마지막은 12월

### 천 단위마다 , 넣기

In [9]:
val = 123456789
money = "{:,}"
money.format(val)

'123,456,789'

### 기타 방법들

In [10]:
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(3, 3, 3, 3.1415, 1/3)

'3, 3.000000, 3.0, 3.14, 33.33%'